[submodule "kicad-packages3D"]
	path = submodules/kicad-packages3D
	url = https://gitlab.com/kicad/libraries/kicad-packages3D.git
[submodule "submodules/4ms-kicad-lib"]
	path = submodules/4ms-kicad-lib
	url = https://github.com/4ms/4ms-kicad-lib.git
